body {
  margin: 0;
  /* background: #151616; */
  font-family: Mont-SemiBold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --bg:  #0E0E2C;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side {
  color: #0E0E2C;
  /* font-size: 16px; */
  text-decoration: none; 
  transform: rotate(-90deg);
  /* padding: 100px;  */
  margin-bottom: 10px;
  margin-top: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #FFFFFF;
}

a {
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 2rem;
  border-bottom: var(--border);
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* avatar Button */
.avatar-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  /* background-color: #484a4d; */
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.avatar-button:hover {
  filter: brightness(1.2);
}

.avatar-button avatar { 
  fill: var(--text-color);
  width: 30px;
  border-radius: 30px;
  height: 30px;
}


/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 58px;
  height: 100%;
  width: 200px;
  transform: translateX(-35%);
  background-color: var(--bg);
  /* border: var(--border); */
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  /* padding: 1rem; */
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item-header {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .avatar-button {
  margin-right: 0.5rem;
}


.menu-item .avatar-button:hover {
  filter: none;
}

/* .menu-item:hover {
  background-color: #525357;
} */
/* 
.menu-item-active {
  background-color: #525357;
} */

.avatar-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
