@font-face {
  font-family: 'Mont';
  src: local('Black'), url(./fonts/Mont-Black.woff) format('woff');
  src: local('Bold'), url(./fonts/Mont-Bold.woff) format('woff');
  src: local('Heavy'), url(./fonts/Mont-Heavy.woff) format('woff');
  src: local('Light'), url(./fonts/Mont-Light.woff) format('woff');
  src: local('Regular'), url(./fonts/Mont-Regular.woff) format('woff');
  src: local('Semibold'), url(./fonts/Mont-SemiBold.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  margin: 0;
  /* @font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(fonts/MyFont.woff) format('woff');
  } */
  font-family: 'Mont';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
